<h1>Compila la tua scheda carburante!</h1>
<form action="/scheda" method='get'>
  <ul>
    <li><label>N° Rifornimenti<input type="text" name="scheda[numero_rifornimenti]"></label></li>
    <li><label>Consumo<input type="text" name="scheda[consumo]"></label></li>    
    <li><label>Km iniziali<input type="text" name="scheda[km_iniziali]"></label></li>
    <li><label>Km attuali<input type="text" name="scheda[km_attuali]"></label></li>
  </ul>
  <p><input type="submit" value="Calcola!"/></p>
</form>